<h1><%= @restaurant.name %></h1>
<h3><strong>Address:</strong> <%= @restaurant.address %></h3>
<h3><strong>Phone Number:</strong> <%= @restaurant.phone_number %></h3>
<h3><strong>Category:</strong> <%= @restaurant.category %></h3>

<h3><strong>Reviews:</strong></h3>
  <ol>
  <% @restaurant.reviews.each do |r| %>
    <li><%= r.content %> | Rating: <%= r.rating %>/5</li>
  <% end %>
  </ol>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
